<nav class="navbar navbar-dark bg-primary">
  <a href="/" class="navbar-brand">
    Angular Simple CRUD
  </a>
</nav>

<div class="container">
  <ul class="list-group mt-4">
    <li *ngFor="let oneEmployee of employeeArray" class="list-group-item list-group-item-action" (click)="openEdit(oneEmployee)" [class.active]="oneEmployee == selectedEmployee">
      <span class="badge badge-primary">{{oneEmployee.id}}</span> {{oneEmployee.name}} - {{oneEmployee.country}}
    </li>
  </ul>
  <div class="card mt-4">
    <div class="card-body">
      <div class="card-title">
        Insert a new employee
      </div>
      <div class="form-group">
        <input type="text" placeholder="Insert a Name" class="form-control" [(ngModel)]="selectedEmployee.name">
      </div>
      <div class="form-group">
          <input type="text" placeholder="Insert a Country" class="form-control" [(ngModel)]="selectedEmployee.country">
      </div>
      <button (click)="addOrEdit()" class="btn btn-primary mr-2">Submit</button>
      <button *ngIf="selectedEmployee.id != 0" class="btn btn-danger" (click)="delete()">Delete</button>
    </div>
  </div>
</div>